.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.pdf
*.csv
Brandbjerg/
Garraf/
Konza/
Lahav/
Matta/
Meteo_Input/
Prades/
Puechabon/
SGS/
Stubai/
WB/
BadNaNOutputs/
Plots/NaNIssues/
desktop.ini
.DS_Store
*.html
NDVI/
*.xlsx
*.rda